---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$base-font-size:   2em;
$base-font-weight: 500;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:        #333;
$quote-text-color:  #808080;

$link-color:        #333;
$link-color-hover:  #0085a1;


%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
    url(https://fonts.googleapis.com/css?family=Open+Sans),
    "bootstrap",
    "syntax-highlighting",
    "andersgodballe"
;