---
layout: default
---
<div class="jumbotron">
  <div class="container">
     <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="jumbotron-title"> 
                    <h1>Anders Godballe</h1>
                    <hr>
                    <span>A Web Developers Blog</span>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
            {{ content }}

        </div>
    </div>
</div>