---
layout: default
---


<div class="jumbotron" style="background-image: url(/images/main1.jpg)">
  <div class="container">
     <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="jumbotron-title"> 
                    <h1>{{ page.title }}</h1>
                    <hr>
                    <span>Posted by <a href="#">{{ page.author }}</a> on {{ page.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
        </div>
  </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
            </div>
        </div>
    </div>
</article>

<hr>